<!DOCTYPE html>
<!--Code by Divinector (www.divinectorweb.com)-->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Human Resource Management System</title>
    <link rel="stylesheet" href="../../public/css/style.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <img src="../../public/images/logo.jpg" alt="">
            </div>
            <ul class="nav-area">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Login</a></li>
            </ul>
        </div>
        <div class="welcome-text">
            <h5>Human Resource Management System of</h5>
            <h1>
                <span>Oracle Freight Solution (Pvd) Ltd</span></h1>
            <a href="https://ofslk.com/">Futher details</a>
        </div>
    </header>

    <div class="service">
        <div class="service-1">
            <h4>One Platform, Countless Results</h4>
            <h5>Unify employee lifecycle <br>on one platform</h5>
        </div>
        <div class="servise-list">
            <ul>
                <li>Leave Management</li>
                <li>Benefit Management</li>
                <li>Reimbursement Management</li>
                <li>Employee Information Management</li>
                <li>HR Docuemnt Management</li>
            </ul>
        </div>
    </div>
    </div>

</body>

</html>